.taskboard-container {
  height: 80vh;

  padding: 1rem 10rem;
  .title-conatainer {
    display: flex;

    .add-task-btn {
      margin-left: auto;
    }
  }

  .task-stage-flex-container {
    display: flex;
    height: 70vh;
    gap: 0.5rem;

    .task-stage-flex-item {
      flex: 1 1 0;
      background: var(--neutral-silver, #8d9df4);
      text-align: left;
      padding: 1rem;

      overflow-y: scroll;

      h5 {
        margin-bottom: 1rem;
      }
    }
  }
}
